/* fixing weird top error */
p {
    margin: 0;
}

/* put all unaligned <p> here */
#settings, #km, #mh, #room-settings, #by, #units {
    margin-bottom: 1em;
    margin-top: 1em;
}

/* fixing focus box on chrome */
*, *:focus, *:hover{
    outline:none;
}

/* Florr.io font */
.text-center{
    text-align: center;
}
.florrfont {
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-family: "Ubuntu";

}
.florrfont-gallery {
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-family: "Ubuntu";
    font-size: 40px;
}
.florrfont-big {
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 0.75px;
    -webkit-text-stroke-color: black;
    font-family: "Ubuntu";
    font-size: 17px;

}
.florrfont-small {
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 0.65px;
    -webkit-text-stroke-color: black;
    font-family: "Ubuntu";
    font-size: 15px;

}
.florrtitle {
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: black;
    font-family: "Ubuntu";
    font-size: 100px;
    letter-spacing: -6px;
}

/* Changelog font settings */
.changelog-text{
    margin: 0px;
}
/* Copied No select also needs to be applied everywhere to lazy right now */
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

#version-number {
    margin-top: 8px;
}

/*--Scrollbar--*/
    /*--Firefox--*/
        .scrollbar { /*firefox doesn't really support any other styling of the scrollbar*/
            overflow-y: scroll;
            scrollbar-color: #4981b1 #5a9fdb;
            scrollbar-width: thin; /*the keyword "thin" removes the arrows on the top and bottom and shrinks the width down to a few pixel*/
        }
    /*--Firefox--*/

    /*--Chrome--Edge--*/
        ::-webkit-scrollbar { /* width */
            width: 5px;
        }
        
        ::-webkit-scrollbar-track {  /* Track */
            box-shadow: inset 0 0 5px #5a9fdb; 
            border-radius: 10px;
        }
        
        ::-webkit-scrollbar-thumb { /* Handle */
            background: #4981b1; 
            border-radius: 10px;
        }
        
        ::-webkit-scrollbar-thumb:hover { /* Handle on hover */
            background: #4981b1; 
        }
    /*--Chrome--Edge--*/
/*--Scrollbar--*/

/* Adds a pointer when hovering over the object */
.pointer {
    cursor: pointer;
}

body {
    margin: 0;
    overflow: hidden;
    background-color: #1ea761;
    padding: 0;
}
#start {
    width:100%;
    text-align: center;
}
#canvas {
	width: 100%;
	height: 100%;
}

/* discord, florr, github buttons */
.button {
	float: right;
	margin-right: 4px;
	margin-top: 4px;
	width: 50px;
	height: 50px;
}

.list{
    background-color: #5a9fdb;
}
.list ul, li {
    list-style: none;
    margin: 0px;
    padding-left: 5px;
    margin-bottom: 8px;
}
.changelog-separator:empty {
    background-color: #4981b1;
    height: 5px;
    margin-bottom: 8px;
    width: 260px;
    border-radius: 3px;
}
/* sub-title config */
.centertext {
    text-align: center;
}
h3 {
    text-align: center;
}

#container {
    height: 100%;
    width: 100%
}

/* Setting all fonts */
button, p, input {
    font-family: 'Ubuntu', sans-serif;
}

/* Code I swiped so that number inputs work */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Document stuff */
#title {
    position: absolute;
    height: 200px;

    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
}
#subtitle {
    font-family: ubuntu;
    position: fixed;
    height: 200px;

    margin-left: 50%;
    margin-right: 50%;
    transform: translate(-50%, 0);

    top: 25%;
}

/* Back button */
#back {
    position: absolute;
    cursor: pointer;
    background-color: #5a9fdb;

    width: 80px;
    height: 40px;
    font-size: 20px;

    border: 5px solid #4981b1;
    border-radius: 6px;

    left: 35%;
    top: 70%;
    transform: translate(-50%, -50%);
}
#back:hover {
    background-color: #77addd;
}

/* UI buttons */
.menu-btn {
    background-color: #5a9fdb;
    cursor: pointer;
    height: 37px;
    font-size: 20px;
    border: 5px solid #4981b1;
    border-radius: 6px;
	position: fixed;
	letter-spacing: -1px;
}
.menu-btn:hover {
    background-color: #77addd;
}

#join {
    width: 140px;
    margin-top: 5px;
    margin-left: 5px;
    left: 0;
}
#make {
    width: 140px;
    margin-top: 5px;
    margin-left: 150px;
    left: 0;
}
#settings-btn {
    width: 120px;
    margin-bottom: 5px;
    margin-left: 5px;
    bottom: 0;
}
#changelog-btn {
    width: 120px;
    margin-bottom: 5px;
    margin-left: 128px;
    bottom: 0;
}
#level-btn {
    width: 120px;
    margin-bottom: 5px;
    margin-left: 251px;
    bottom: 0;
}
#gallery-btn {
    width: 120px;
    margin-bottom: 5px;
    margin-right: 5px;
    bottom: 0;
    right: 0;
}
#loadout-btn {
    width: 120px;
    margin-bottom: 5px;
    margin-right: 128px;
    bottom: 0;
    right: 0;
}

/* Joining games */
#input-join {
    position: absolute;

    width: 250px;
    height: 38px;
    font-size: 30px;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    border: 5px solid #000000;
    border-radius: 6px;

    padding-left: 5px;
}
#join-submit {
    cursor: pointer;
    background-color: #5a9fdb;
    position: absolute;

    width: 200px;
    height: 50px;
    font-size: 30px;

    left: 50%;
    top: 64%;
    transform: translate(-50%, -50%);

    border: 5px solid #4981b1;
    border-radius: 6px;
}
#join-submit:hover {
    background-color: #77addd;
}

/* Creating games */
#input-create {
    position: absolute;

    width: 250px;
    height: 38px;
    font-size: 30px;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    border: 5px solid #000000;
    border-radius: 6px;

    padding-left: 5px;
}
#create-submit {
    cursor: pointer;
    background-color: #5a9fdb;
    position: absolute;

    width: 200px;
    height: 50px;
    font-size: 30px;

    left: 50%;
    top: 64%;
    transform: translate(-50%, -50%);

    border: 5px solid #4981b1;
    border-radius: 6px;
}
#create-submit:hover {
    background-color: #77addd;
}

/* Name/join menu */
#name {
    width: 300px;
    height: 38px;
    font-size: 30px;

    position: absolute;

    top: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);

    border: 5px solid #000000;
    border-radius: 6px;

    padding-left: 5px;
}

/* Error/success messages */
#system-text {
    color: #ffffff;
    font-size: 20px;
    -webkit-text-stroke: 1px black;
    position: absolute;
    bottom: 35px;
    margin-left: 50%;
    margin-right: 50%;
    transform: translate(-50%, 0);
}

#room-container {
    position: absolute;
    width: 350px;
    bottom: 30px;
    margin-left: 50%;
    margin-right: 50%;
    transform: translate(-50%, 0);
}
#room-ID {
    color: #ffffff;
    font-size: 20px;
    -webkit-text-stroke: 1px black;
    position: absolute;
}

/* Room settings */
#room-settings-container {
    position: absolute;
    left: 70%;
    bottom: 25vh;
    width: 300px;
    height: 300px;
    background-color: #5a9fdb;
    border: 5px solid #4981b1;
    border-radius: 3px;
}
#room-settings {
    margin-left: 17px;
}
#x {
    width: 30px;
    margin-left: 17px;
}
#by {
    position: absolute;
    bottom: 214px;
    left: 60px;
}
#y {
    width: 30px;
    margin-left: 30px;
}
#units {
    position: absolute;
    bottom: 214px;
    left: 127px;
}

/* Settings */
#settings-container {
    position: absolute;
    bottom: 45px;
    left: 5px;
    background-color: #5a9fdb;
    border: 5px solid #4981b1;
    border-radius: 3px;
    width: 175px;
    height: 125px;
}
.changelog-scroll::-webkit-scrollbar{
    display: none;
}
/* Changelog */
#changelog-container {
    
    position: absolute;
    bottom: 45px;
    left: 110px;
    background-color: #5a9fdb;
    border: 5px solid #4981b1;
    border-radius: 3px;
    width: 280px;
    height: 170px;
    overflow: auto;
    overflow-x: hidden;
    
}
.changelog-bg {
    position: absolute;
    background-color: #8bc2f1;
    border: 5px solid #8bc2f1;
    border-radius: 3px;
    width: 160px;
    height: 20px;
}



/*gallery*/
#gallery-container {
    
    position: absolute;
	top: 50%;
    right: 10px;
    width: 280px;
    height: 530px;
	transform: translate(0, -50%);

    background-color: #5a9fdb;
    border: 5px solid #4981b1;
    border-radius: 3px;
    overflow: auto;
    overflow-x: hidden;
}

/* loadout */
#loadout-container {
	position: absolute;
	width: 170px;
	height: 560px;
	top: 50%;
	right: 310px;
    transform: translate(0, -50%);

    border: 5px solid #4981b1;
    border-radius: 3px;
    background-color: #5a9fdb;
}
#loadout-title {
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 1.5vw;
    color: #ffffff;
    -webkit-text-stroke: 1px black;
}
#loadout-canvas {
	position: fixed;
	top: 60px;
}
#loadout-hb {
    position: fixed;
    top: 8%;
	left: 25%;
    transform: translate(-50%, 0);

    color: #ffffff;
    -webkit-text-stroke: 0.7px black;
}
#loadout-inv {
    position: fixed;
    top: 8%;
	left: 75%;
    transform: translate(-50%, 0);

    color: #ffffff;
    -webkit-text-stroke: 0.7px black;
}
#petal-dragging-canvas {
	position: absolute;
	top: 0;
	left: 0;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #4981b1;
    background-color: #4981b1;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  /* w3schools tabs maybe magico can change this later*/
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #5a9fdb;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #5a9fdb;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
  }
  .centered {
    text-align: center;
    width: 100%;
}
.myGallery {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  
/* .centered_tab {
    float:none /*to make sure there is no active float*/

#settings {
    letter-spacing: -1px;
    bottom: 18px;
    left: 38px;
    position: relative;
    color: #ffffff;
    font-size: 25px;
    -webkit-text-stroke: 1px black;
}
#keyboard, #helper {
    cursor: pointer;
    position: absolute;
    left: 7px;
    width: 18px;
    height: 18px;
    background-color: #666666;
    border: 4px solid #333333;
    border-radius: 2px; 
}
#keyboard {
    bottom: 50px;
}
#helper {
    bottom: 12px;
}
#km, #mh {
    color: #ffffff;
    position: relative;
    font-size: 13px;
    left: 42px;
    -webkit-text-stroke: 0.5px black;
}
#km {
    bottom: 25px;
}
#mh {
    bottom: 16px
}

/* Loading stuff */
#loading {
    width: 100%;
    height: 100%;
    background-color: #000000;
    position: absolute;
    top: 0;
    left: 0;
}

#loading-text {
    color: #ffffff;
    font-size: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#noobs {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* Stuff for level selector div */
#level {
    width: 16vw;
    height: 70vh;

    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    position: absolute;

    background-color: #5a9fdb;
    border: 5px solid #4981b1;
    border-radius: 3px;
}
#level-input {
    /* Making it vertical (firefox version in html) */
    -webkit-appearance: slider-vertical; /* Chrome */
    writing-mode: bt-lr; /* IE */

    height: 58vh;

    position: fixed;
    top: 55%;
    left: 15%;
    transform: translate(-50%, -50%);
}
#level-display {
    font-size: 1.5vw;
    width: 6vw;
    color: #ffffff;
    -webkit-text-stroke: 1px black;
    position: fixed;
    top: 6%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#health, #body-damage, #petal-num {
    font-size: 1.1vw;
    -webkit-text-stroke: 0.7px black;
    color: #ffffff;
    transform: translate(-50%, -50%);
    position: fixed;
    left: 60%;
}
#health {
    top: 27%;
}
#body-damage {
    top: 52%;
}
#petal-num {
    top: 77%;
}

#version {
    color: #ffffff;
    left: 50%;
    position: absolute;
    -webkit-text-stroke: 0.5px black;
    transform: translate(-50%, 0);
}

#petal-background {
    background-color: Transparent;
    position: fixed;
    z-index: -1;
}
